In [1]:
import pandas as pd
import numpy as np
import plotly as py
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("adult.csv")

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
country           0
salary            0
dtype: int64

In [5]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

In [6]:
df.set_axis(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'country', 'salary'], axis=1, inplace=True)

In [7]:
for i in df.columns:
    print("Unique categories in {} features is: \n{}\n\n\n".format(i, df[i].unique()))

Unique categories in age features is:
[39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]



Unique categories in workclass features is:
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']



Unique categories in fnlwgt features is:
[ 77516  83311 215646 ...  34066  84661 257302]



Unique categories in education features is:
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']



Unique categories in education_num features is:
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]



Unique categories in marital_status features is:
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']



Unique categories in occupation features is:
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']



Unique categories in relationship features is:
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']



Unique categories in race features is:
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']



Unique categories in sex features is:
[' Male' ' Female']



Unique categories in capital_gain features is:
[ 2174     0 14084  5178  5013  2407 14344 15024  7688 34095  4064  4386
  7298  1409  3674  1055  3464  2050  2176   594 20051  6849  4101  1111
  8614  3411  2597 25236  4650  9386  2463  3103 10605  2964  3325  2580
  3471  4865 99999  6514  1471  2329  2105  2885 25124 10520  2202  2961
 27828  6767  2228  1506 13550  2635  5556  4787  3781  3137  3818  3942
   914   401  2829  2977  4934  2062  2354  5455 15020  1424  3273 22040
  4416  3908 10566   991  4931  1086  7430  6497   114  7896  2346  3418
  3432  2907  1151  2414  2290 15831 41310  4508  2538  3456  6418  1848
  3887  5721  9562  1455  2036  1831 11678  2936  2993  7443  6360  1797
  1173  4687  6723  2009  6097  2653  1639 18481  7978  2387  5060]



Unique categories in capital_loss features is:
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]



Unique categories in hours_per_week features is:
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]



Unique categories in country features is:
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']



Unique categories in salary features is:
[' <=50K' ' >50K']

In [8]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [9]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
index_lis = set()
for i in range(32561):
    for j in range(15):
        if df.iloc[i][j] == ' ?':
            index_lis.add(df.index[i])

In [ ]:
df.shape

In [ ]:
len(index_lis)

In [ ]:
df.drop(index=index_lis, inplace=True)

In [ ]:
df.shape

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
for i in df.columns:
    print("Unique categories in {} features is: \n{}\n\n\n".format(i, df[i].unique()))

In [ ]:
df

In [ ]:
df.salary.unique()

In [ ]:
df.replace({' >50K': 1, ' <=50K': 0}, inplace=True)

In [ ]:
df.replace({' Male': 0, ' Female': 1}, inplace=True)

In [ ]:
plt.figure(figsize=(15,15))
sns.catplot(x='workclass', y='salary', data=df, kind='bar',  height=7,aspect=2)
plt.show()

In [ ]:
plt.figure(figsize=(15,15))
sns.catplot(x='education', y='salary', data=df, kind='bar',  height=7,aspect=2)
plt.show()

In [ ]:
plt.figure(figsize=(15,15))
sns.catplot(x='marital_status', y='salary', data=df, kind='bar', height=7,aspect=2)
plt.show()

In [ ]:
plt.figure(figsize=(15,15))
sns.catplot(x='occupation', y='salary', data=df, kind='bar', height=10,aspect=4)
plt.show()

In [ ]:
plt.figure(figsize=(15,15))
sns.catplot(x='relationship', y='salary', data=df, kind='bar', height=7,aspect=2)
plt.show()

In [ ]:
plt.figure(figsize=(15,15))
sns.catplot(x='race', y='salary', data=df, kind='bar', height=7,aspect=2)
plt.show()

In [ ]:
plt.figure(figsize=(15,15))
sns.catplot(x='sex', y='salary', data=df, kind='bar', height=7,aspect=2)
plt.show()

In [ ]:
plt.figure(figsize=(50,50))
sns.catplot(x='country', y='salary', data=df, kind='bar', height=7,aspect=4)
plt.show()

In [ ]:
df.dtypes

In [ ]:
df.country.unique()

In [ ]:
east_Asia = [" Cambodia", " Philippines", "China", " Hong", " Laos", " Thailand"," Japan", " Taiwan", " Vietnam"]
central_America = [" Cuba", " Guatemala", " Jamaica", " Nicaragua", " Puerto-Rico",  " Dominican-Republic", " El-Salvador", " Haiti", " Honduras", " Mexico", " Trinadad&Tobago"]
west_Europe = [" England", " Germany", " Holand-Netherlands", " Ireland", " France", " Greece", " Italy", " Portugal", " Scotland"]
central_Asia = [" India", " Iran"]
south_America = [" Ecuador", " Peru", " Columbia"]
north_America = [' United-States', ' Canada', ' Outlying-US(Guam-USVI-etc)']
east_Europe = [" Poland", " Yugoslavia", " Hungary"]

In [ ]:
df.replace(to_replace=east_Asia,value="East_Asia",inplace=True)
df.replace(to_replace=central_America,value="central_America",inplace=True)
df.replace(to_replace=west_Europe,value="west_Europe",inplace=True)
df.replace(to_replace=north_America,value="north_America",inplace=True)
df.replace(to_replace=central_Asia,value="central_Asia",inplace=True)
df.replace(to_replace=south_America,value="south_America",inplace=True)
df.replace(to_replace=east_Europe,value="east_Europe",inplace=True)

In [ ]:
df.country.unique()

In [ ]:
plt.figure(figsize=(50,30))
sns.catplot(x='country',y='salary', data=df.sort_values('salary', ascending=False), kind='bar', height=7,aspect=2)
plt.show()

In [ ]:
df

In [ ]:
temp_df = df.drop(['age', 'fnlwgt', 'education_num', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'salary'], axis=1)

In [ ]:
temp_df

In [ ]:
temp_df.education.unique()

In [ ]:
plt.figure(figsize=(50,30))
sns.catplot(x='education',y='salary', data=df.sort_values('salary', ascending=False), kind='bar', height=7,aspect=2)
plt.show()

In [ ]:
'''education_mapping = {' Bachelors':13, ' HS-grad':9, ' 11th':7, ' Masters':14, ' 9th':5,
       ' Some-college':10, ' Assoc-acdm':11, ' 7th-8th':4, ' Doctorate':15,
       ' Assoc-voc':12, ' Prof-school':16, ' 5th-6th':3, ' 10th':6, ' Preschool':1,
       ' 12th':8, ' 1st-4th':2}
df['education_ord'] = temp_df.education.map(education_mapping)
df.head(5)'''

In [ ]:
temp_dff

In [ ]:
temp_df.drop('education', axis=1, inplace=True)

In [ ]:
temp_df

In [ ]:
temp_df.workclass.unique()

In [ ]:
var_map = dict()
for i in temp_df.columns:
    var_map = temp_df[i].value_counts().to_dict()
    print(var_map)
    temp_df[i] = temp_df[i].map(var_map)

In [ ]:
temp_df.head(10)

In [ ]:
df

In [ ]:
df.drop(['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'country'], axis=1, inplace=True)

In [ ]:
df = pd.concat([df, temp_df], axis=1)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.to_csv("df_with_relationship.csv", index=False)
df.to_csv("df_without_relationship.csv",index=False)

In [ ]:
plt.figure(figsize=(46,35), facecolor='white')5
sns.heatmap(new_df.corr(), cmap="PiYG", annot=True)
plt.show()

In [ ]:
new_df.isna().any().any()

In [ ]:
new_df.corr()

In [ ]:
sns.countplot(x=new_df['salary'])

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
var = new_df
vif = pd.DataFrame()
vif["VIF"] = [variance_inflation_factor(var, i) for i in range(var.shape[1])]
vif["Features"] = new_df.columns
vif